<!DOCTYPE html>
<html>
  <head>
    <title>ZoraTweet</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>

  <body>
    <header>
      <div class="header-logo">
        <% if @current_user %>
          <%= link_to("ZoraTweet", "/posts/index") %>
          <li>
            <%= link_to("ZoraTweetとは", "/about") %>
          </li>
        <% else %>
          <%= link_to("ZoraTweet", "/") %>
          <li>
            <%= link_to("ZoraTweetとは", "/about") %>
          </li>
        <% end %>
      </div>
      <ul class="header-menus">
        <% if @current_user %>
          <li class="btn-b">
            <%= link_to(@current_user.name, "/users/#{@current_user.id}") %>
          </li>
          <li>
            <%= link_to("投稿一覧", "/posts/index") %>
          </li>
          <li>
            <%= link_to("新規投稿", "/posts/new") %>
          </li>
          <li>
            <%= link_to("ユーザー一覧", "/users/index") %>
          </li>
          <li >
            <%= link_to("ログアウト", "/logout", {method: :post}) %>
          </li>
        </ul>
        <% else %>
        <ul class="btn">
          <li class="btn">
            <%= link_to("新規登録", "/signup") %>
          </li>
          <li class="btn">
            <%= link_to("ログイン", "/login") %>
          </li>
        <% end %>
        <!-- <span class="fa fa-bars menu-icon"></span> -->
      </ul>
    </header>

    <% if flash[:notice] %>
      <div class="flash">
        <%= flash[:notice] %>
      </div>
    <% end %>

    <%= yield %>
  </body>
</html>
